body {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    flex: 2;
    font-size: 30px;
}

section {
    max-width: 800px;
    margin: 50px auto;
    color: black;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: aliceblue;
}
p {
    text-align: center;
}